INCLUDE("tecsgen.cfg");

#include "app.h"

// メインタスクを生成（OS起動時に自動実行）
CRE_TSK(
    MAIN_TASK,          // タスクID
    {
        TA_ACT,         // タスク属性（自動起動）
        0,              // 拡張情報（未使用）
        main_task,      // タスク関数
        MAIN_PRIORITY,  // タスク優先度
        STACK_SIZE,     // スタックサイズ
        NULL            // スタック領域（OSが自動確保）
    }
);

// ライントレースタスクを生成（作成のみで自動起動しない）
CRE_TSK(
    LINE_TRACER_TASK,   // タスクID
    {
        TA_NULL,         // タスク属性（自動起動しない）
        0,               // 拡張情報（未使用）
        tracer_task,     // タスク関数
        TRACER_PRIORITY, // タスク優先度
        STACK_SIZE,      // スタックサイズ
        NULL             // スタック領域（OSが自動確保）
    }
);

CRE_CYC(
    LINE_TRACER_TASK_CYC,      // 周期ハンドラID
    {
        TA_NULL,               // 属性
        { TNFY_ACTTSK, LINE_TRACER_TASK }, // 周期ごとにLINE_TRACER_TASKを起動
        LINE_TRACER_PERIOD,    // 周期（ms）
        0                      // 初回起動までの時間（位相）
    }
);
